.slider {
	height: 350px;
	position: relative;
    &__item {
        width: 100%;
        height: 350px;
        display: flex;
        border-radius: 16px;
        background-color: $yellow;
        flex-wrap: wrap;
        align-content: space-around;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding: 41px 109px;
        }
    &__text {
        font-weight: bold;
        font-size: 40px;
        line-height: 47px;
        color: $white;
        margin-top: 16px;
        margin-left: -100px;
        width: 435px;
    }
    &__text-1 {
        font-size: 18px;
        line-height: 140%;
        color: $white;
        margin-left: -100px;
        margin-top: -14px;
    }
    &__details {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        text-decoration: none;
        color: $white;
        align-items: center;
        justify-content: center;
        display: flex;
        background-color: $red;
        border-radius: 12px;
        height: 48px; 
        margin-bottom: 14px;
        padding: 0 30px;
        margin-left: -100px;
        transition-duration: 0.3s;
        transition-property: opacity;
        &:hover {
            opacity: 0.7;
        }
        &:active {
            opacity: 0.3;
        }
    }
    &__img {
        width: 219px;
        height: 269px;
        background-image: url(../img/watch.png);
        justify-content: flex-end;
        margin-left: 110px;
    }
   
    &__nav {
        list-style-type: none;
        display: flex;
        padding: 0;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        li {
            padding: 0 5px;
        }
    }
        &__but {
            width: 12px;
            height: 12px;
            border: 2px solid $white;
            border-radius: 50%;
            background-color: transparent;
            padding: 0;
            cursor: pointer;
            margin-left: -3px;
            margin-bottom: -3px;
            &_active {
                background-color: $white;
            }
        }
    
    &__arrow {
        background-position: center;
        background-color: $white-opacity;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition-duration: 0.3s;
        transition-property: background-color;
        &:hover {
            background-color: $white;
	        cursor: pointer;
        }
    }
    &__arrow_left {
        left: 37px;
    }
    &__arrow_right {
        right: 37px;
    }
}

@media (max-width: 991px) {
    .slider__img {
        width: 173px;
        height: 213px;
        background-image: url(../img/watch-mobile.png);
    }
    .slider__details {
        margin: 1px 1px;
    }
    .slider__text {
        display: inline-flex;
        font-size: 25px;
        margin-left: auto;
    }
    .slider__text-1 {
        display: inline-flex;
        margin-left: 0;
    }
}

@media (max-width: 800px) {
    .slider__text-1 {
        margin-right: -10px;
    }

    .slider__text-1 {
        margin-right: -10px;
    }

    .slider__img {
        margin-left: -15px;
    }
}

@media (max-width: 765px) {
    .slider__details {
        margin: 1px 1px;
    }
}

@media (max-width: 630px) {
    .slider {
        width: 375px;
        height: 504px;
        margin: 0;

    }
    .slider__item {
        width: 375px;
        height: 504px;
        border-radius: 0%;
        padding: 0;
        margin: 0;
        position: relative;
    }
    .slider__arrow_left {
        left: 30px;
    }
    .slider__arrow_right {
        right: -2px;
    }
    .slider__img {
        position: absolute;
        top: 26px;
        transform: translateX(50%);
        margin: 0;
    }
    .slider__text {
        margin: 0;
        position: absolute;
        top: 241px;
        left: 10px;
        width: 347px;
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
    }
    .slider__text-1 { 
        margin: 0;
        position: absolute;
        top: 335px;
        left: 44px;
    }
    .slider__details {
        position: absolute;
        top: 400px;
        left: 94px;
    }
}